.tablePDF{
	border: 2px solid;
	border-collapse: collapse;
	font-size: 15px;
	font-family: Calibri;
}

.encabezado-tabla{
	border: 2px solid;
	font-weight: bold;
	text-align: center;
	background-color: #FFDB58;
}

.encabezado-col{
	border: 2px solid;
	font-weight: bold;
	text-align: center;
	background-color: rgb(180,180,180);
}

.total{
	border: 2px solid;
	font-weight: bold;
	text-align: center;
	background-color: #92C5FC;
}

.border2line-center{
	border: 2px solid;
	text-align: center;
}

.borderline-center{
	border: 1px solid;
	text-align: center;
}

.borderline-left{
	border: 1px solid;
	text-align: left;
}

.borderline-c-color{
	border: 1px solid;
	text-align: center;
	background-color: rgb(141,180,226);
}

.borderline-l-text{
	border: 1px solid;
	text-align: center;
	width: 25%;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}

.borderline-s-text{
	border: 1px solid;
	width: 18%;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}

.resultados-l{
	font-weight: bold;
	text-align: left;
	border: 2px solid;
}

.resultados{
	font-weight: bold;
	text-align: center;
	border: 2px solid;
}

.hombres{
	font-weight: bold;
	text-align: center;
	border: 2px solid;
	color: red;
	border-color: black;
}

.mujeres{
	font-weight: bold;
	text-align: center;
	border: 2px solid;
	color: blue;
	border-color: black;
}