/*@page {
 /*margin: 5%;*/
  /*margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  header: html_myHTMLHeaderOdd;
  footer: html_myHTMLFooterOdd;
}/*/

table, th, td {
  
}

.tablePDF{
	border: 1px solid;
	font-size: 7px;
	font-family: Calibri;
	border-collapse: collapse;
}

.borderline-center{
	border: 1px solid;
	text-align: center;
	background-color: rgb(141,180,226);
}

.borderline-left{
	border: 1px solid;
	text-align: left;
}

.borderline-c-color{
	border: 1px solid;
	text-align: center;
}

.borderline-l-text{
	border: 1px solid;
	text-align: left;
	width: 25%;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}

.borderline-s-text{
	border: 1px solid;
	width: 18%;
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}